@import "styles/variables";
@import "styles/mixins";

.content {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 1rem;
  background-color: #f1f6f8;
  border: 2px solid $white;
  border-radius: $border-radius;
  transition: border-color 0.2s ease-in-out;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    z-index: 3;
    top: 1.75rem;
    left: 0;
    display: block;
    width: 20px;
    height: 36px;
    opacity: 0.1;
    background: url("/icons/title-arrow-primary.svg") left center no-repeat;
    background-size: 100% 100%;
  }
}

.title {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0 0 0.5rem;
  font-size: 1.375rem;
  font-weight: $font-weight-semibold;
  color: $gray-900;

  svg {
    opacity: 0.5;
    margin-left: auto;
    opacity: 0.5;
  }
}

.inner {
  position: relative;
  z-index: 2;
  padding-right: 4rem;
  font-size: $font-size-sm;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.icon {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  display: block;
  width: 7.5rem;
  height: auto;
}

.input {
  @include visually-hidden;

  &:focus + .content {
    box-shadow: 0 0 0 2px rgba($blue-300, 0.5);
  }

  &:checked + .content {
    border-color: $primary;

    .inner {
      opacity: 1;
    }
  }
}

.content:hover {
  border-color: $primary;

  .inner {
    opacity: 1;
  }
}

@media (min-width: 576px) {
  .content {
    padding: 2rem;
  }
}
