@import "styles/variables";
@import "styles/mixins";

.wrap {
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1rem;
}

.message {
  color: $gray-700;
}

.button {
  flex: 1 1 auto;
  max-width: 13rem;
  border-radius: $border-radius-pill;
}
