@import "styles/variables";
@import "styles/mixins";

.wrap {
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1rem;
}

.message {
  color: $gray-700;
}

.quantitySelector {
  display: flex;
  flex-wrap: nowrap;
}

.quantityIncrement {
  display: inline-block;
  min-width: 2.25rem;
  padding: 0.5rem;
  line-height: 1;
  color: $primary;
}

.quantity {
  display: inline-block;
  min-width: 2.5rem;
  padding: 0.5rem;
  font-size: $font-size-lg;
  line-height: 1.2;
  text-align: center;
  color: $white;
  background-color: $primary;
  border-radius: $border-radius-pill;
}

.button {
  flex: 1 1 auto;
  max-width: 13rem;
  border-radius: $border-radius-pill;
}
