@import "styles/variables";
@import "styles/mixins";

.box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;

  .body {
    flex: 1 1 auto;
  }

  .footer {
    flex: 0 1 auto;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }
}

.address {
  color: $gray-600;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: space-between;
}

.actionButton {
  position: absolute;
  z-index: 10;
  top: 1rem;
  right: 1rem;
  background-color: $white;
  border-radius: $border-radius-pill;
  padding: 0;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  box-shadow: $box-shadow-sm;

  &:hover,
  &:focus {
    box-shadow: $box-shadow;
  }
}

.actionMenu {
  position: absolute;
  z-index: 5;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: $white;

  .menu {
    @include list-unstyled;
    margin: 0;
    width: 100%;
    max-width: 17rem;

    li:not(:last-child) {
      margin-bottom: 1rem;
    }

    .button {
      display: block;
      width: 100%;
    }
  }
}
