@import "styles/variables";
@import "styles/mixins";

.box {
  border: 1px solid $gray-200;
  padding: 25px;

  &.selected {
    border-color: $secondary;
  }
}

.title {
  margin: 0 0 0.5rem;
  font-size: $font-size-base;
  font-weight: $font-weight-semibold;
}

.text {
  margin: 0 0 0.5rem;
}

.price {
  font-weight: $font-weight-semibold;
}
