@import "styles/variables";
@import "styles/mixins";

.container {
  width: 100%;
  margin-bottom: 100px;
}

.list {
  @include list-unstyled;
  display: grid;
  margin: 0;
  li {
    margin-bottom: 1rem;
  }
}

.tile {
  height: 270px;
}
