@import "styles/variables";
@import "styles/mixins";

.box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  color: $primary;

  > * {
    flex: 0 1 auto;
    width: 100%;
    max-width: 100%;
  }
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 20px 10px;
    border-bottom: 1px solid $gray-200;
    a{
      font-weight: 600;
      padding: 0px;
    }
  }

  .body {
    flex: 1 1 auto;
    padding: 20px 10px;
  }
}

.title {
  display: block;
  color: $primary;
  font-size: $font-size-lg;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
