@import "styles/variables";
@import "styles/mixins";

.table {
  color: $primary;
  border-collapse: collapse;
  .th {
    margin: 0;
    font-size: $font-size-base;
    font-weight:200;
    padding: 5px 0px;
  }

  .td {
    margin: 0;
    font-size: $font-size-base;
    padding: 5px 0px;
    text-align: right;
  }
}
