@import "styles/variables";
@import "styles/mixins";

.table {
  .th {
    margin: 0;
    font-size: $font-size-base;
    font-weight: $font-weight-semibold;
  }

  .td {
    margin: 0;
    font-size: $font-size-sm;
    color: $text-muted;
  }
}
