@import "styles/variables";
@import "styles/mixins";

.wrap {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: $gray-600;
  background-color: $white;
}

.menu {
  @include list-unstyled;
  margin: 0;
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  row-gap: 0.5rem;

  a {
    color: inherit;
    text-decoration: underline;
  }

  svg {
    margin-right: 0.25rem;
  }
}

.logo {
  max-width: 110px;
  margin: 0 auto 1rem;

  @media (min-width: 576px) {
    margin: 0;
  }
}
