@import "styles/variables";
@import "styles/mixins";

.monthlyPayments{
  display: flex;
  gap: 4px;
}

.small{
  font-size: 14px;
  color: $gray-600;
  margin-bottom: 5px;
}

.financeOption {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  p {
    margin: 0;
    font-size: 14px;
  }
}

.logo {
  display: inline-block;
  padding: 5px;
  border-radius: 4px;
  margin-right: 10px;
}

.klarna {
  background-color: #ffb3c7;
  color: #000;
  .logo {
    border-radius: 4px;
    max-width: 3rem;
  }
}

.propensio {
  background-color: #393c5a;
  color: #fff;

  .logo {
    max-width: 12rem;
  }
}
