@import "styles/variables";
@import "styles/mixins";

.title {
  font-size: 1.375rem;
}

.list {
  @include list-unstyled;
  margin: 0;

  .list {
    overflow: hidden;
  }
}

.listItem {
  display: block;
}

.litemItem > .link {
  font-weight: $font-weight-bold;
}

.link {
  display: block;
  padding: 0.5rem;
  margin: 0 -0.5rem;
  font-size: $font-size-base;
  color: $gray-900;
  border-radius: $border-radius;
  @include transition($btn-transition);

  &:focus {
    outline: 0;
    box-shadow: $btn-focus-box-shadow;
  }
}

a.link:hover {
  text-decoration: underline;
}

.listItem.hasChild .link {
  position: relative;
}

.icon {
  position: absolute;
  top: 50%;
  left: -1.875rem;
  transform: translateY(-50%);
  display: block;
  width: 1.875rem;
  height: 1.875rem;
  line-height: 1.875rem;
  text-align: center;
}
