@import "styles/variables";
@import "styles/mixins";

.list {
  @include list-unstyled;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;

  li {
    position: relative;
  }

  .link {
    position: relative;
    z-index: 1;
    display: block;
    padding: 0.5rem 1rem;
    transition: color 0.15s;
    cursor: pointer;
    border: 0;
    border-radius: $border-radius-pill;
    color: $gray-700;
  }

  .activeBg {
    position: absolute;
    z-index: 0;
    inset: 0;
    border-radius: $border-radius-pill;
    background-color: $blue-300;
  }
}
