@import "styles/variables";
@import "styles/mixins";

.wrap {
  @include padding(4rem 0);
  text-align: center;
  background-color: $gray-100;
}

.title {
  margin-bottom: 1rem;
  @include font-size(2rem);
}

.intro {
  margin-bottom: 2rem;
  color: $primary;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  max-width: 36rem;
  margin: 0 auto;
}
