@import "styles/variables";
@import "styles/mixins";

.wrap {
  margin-top: auto;
  border-top: $border-width solid $border-color;
  padding-top: 1.5rem;
}

.title {
  margin-bottom: 1rem;
  font-size: $font-size-lg;
}

.list {
  @include list-unstyled;
  margin: 0 0 1.5rem;
}

.link {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;

  &:hover {
    text-decoration: underline;
  }
}

.button {
  display: block;
  width: 100%;
}
