@import "styles/variables";
@import "styles/mixins";

.title {
  margin-bottom: 0;
  font-size: $font-size-lg;
  font-weight: $font-weight-semibold;
}

.lead {
  color: $gray-600;
  margin-bottom: 1rem;
}

.grid {
  display: grid;
  gap: 1rem;
}

@media (min-width: 576px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
