@import "styles/variables";
@import "styles/mixins";

.button {
  position: relative;
  display: block;
  width: 100%;
  padding: 0.75rem 2rem 0.75rem 0;
  color: $primary;
  @include font-size(1.25rem);
  font-weight: $font-weight-semibold;
  text-align: left;
  border-bottom: 1px solid $border-color;

  .icon {
    position: absolute;
    right: 1rem;
    font-size: 2rem;
  }
}

.header {
  display: flex;
  margin-top: 10px;

  h3 {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin: 0;
    padding-left: 20px;
    color: $primary;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    // padding: 20px;
    // position: absolute;
    // top: 0;
    // right: 0;
    // padding: 0.5rem;
    // text-align: right;
  }
}

.body {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: $font-size-sm;
  border-top: 1px solid $border-color;

  .th,
  .td {
    // padding: 0.75rem 0;
    padding: 12px 0;
    border-bottom: 1px solid $border-color;
  }

  .th {
    font-weight: 600;
    // color: $primary;
  }

  .td {
    text-align: right;
  }
}

.footer {
  padding: 0.5rem 1rem 1rem;
}

// .addToCart {
// }

@media (min-width: 400px) {
  // .wrap {
  //   padding: 1rem;
  // }

  // .header {
  //   padding: 1rem 1.5rem 1rem 1rem;
  // }

  // .footer {
  //   padding: 1rem 1rem 0;
  // }

  // .addToCart {
  //   margin: 0 -1.5rem;
  // }
}
