@import "styles/variables";
@import "styles/mixins";

.box {
  border: 1px solid $gray-200;
  transition: border-color 0.2s ease;
  padding: 25px;
  &:hover,
  &.selected {
    border-color: $secondary;
  }
}

.phone {
  margin: 0;
  color: $gray-600;
}
