@import "styles/variables";
@import "styles/mixins";

.box {
  border: 2px solid transparent;
  transition: border-color 0.2s ease;

  &:hover,
  &.selected {
    border-color: $primary;
  }
}

.phone {
  margin: 0;
  color: $gray-600;
}
