@import "styles/variables";
@import "styles/mixins";

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.title {
  margin-bottom: 40px;
  @include font-size(2rem);
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 992px) {
  .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
