@import "styles/variables";
@import "styles/mixins";

.wrap {
  position: relative;
  padding: 1rem;
  max-width: 1232px;
  margin: 0 auto;

  .header {
    position: relative;
    z-index: 2;
    margin-bottom: 1rem;
    text-align: center;
  }

  .nav {
    display: inline-flex;
    vertical-align: middle;
    gap: 0.5rem;
  }

  .carouselWrap {
    position: relative;
    z-index: 1;
    outline: none;
    overflow: hidden;
  }

  .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    align-items: center;
  }

  .navPills {
    text-align: center;
  }

  @media (min-width: 768px) {
    .header {
      text-align: right;
    }

    .navPills {
      text-align: right;
    }
  }

  @media (min-width: 992px) {
    .header {
      margin-bottom: -2rem;
    }
  }
}
