@import "styles/variables";
@import "styles/mixins";

.menu {
  @include list-unstyled;
  display: flex;
  flex-direction: column;
  margin: 0 10px 0 0;
}

.featureMenu {
  @include list-unstyled;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
}

.subCategoryLink {
  font-weight: 600;
  color: $gray-900;
  width: 100%;
  border-top: 1px solid $gray-200;
  padding: 25px 0;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 25px;
    .content {
      display: flex;
      align-items: center;
    }
  }
  .image {
    // background-color: $hawkes-blue;
    // border-radius: 100px;
    position: relative;
    margin-right: 20px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      padding: 5px;
      object-fit: contain;
      object-position: center;
    }
    .icon {
      color: $secondary;
    }
    .background {
      position: absolute;
      width: 35px;
      height: 35px;
      border-radius: 35px;
      background-color: $hawkes-blue;
    }
  }
  .text {
    display: flex;
    width: 200px;
    justify-content: space-between;
    font-weight: 600;
  }
  .chevron {
    width: 32px;
    font-size: 14px;
    text-align: center;
    color: $secondary;
  }
}

.featureLink {
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  .text {
    display: flex;
    width: 200px;
    justify-content: space-between;
    font-weight: 600;
  }
  .chevron {
    width: 32px;
    font-size: 14px;
    text-align: center;
    color: $secondary;
  }
}

.link {
  display: flex;
  align-items: center;
  color: $gray-900;
  padding: 5px 0;
  &:hover {
    text-decoration: underline;
  }
}

.list {
  @include list-unstyled;
  padding-left: 10px;
}
