@import "styles/variables";
@import "styles/mixins";

.box {
  border: 1px solid $gray-200;
  transition: border-color 0.2s ease;
  padding: 25px;
  &:hover,
  &.selected {
    border-color: $secondary;
  }
}

.title {
  margin: 0 0 0.5rem;
  font-size: $font-size-base;
  font-weight: $font-weight-semibold;
}

.text {
  margin: 0 0 1rem;
}

.icons {
  @include list-unstyled;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  > li {
    flex: 0 1 auto;
  }

  img {
    display: block;
    width: 4rem;
    height: auto;
  }
}
