@import "styles/variables";
@import "styles/mixins";

.title {
  margin-bottom: 1rem;
  font-size: $font-size-lg;
  font-weight: $font-weight-semibold;
}

.subtitle {
  display: block;
  border-bottom: 1px solid $border-color;
  padding-bottom: 0.75rem;
  margin-bottom: 0.75rem;
  font-size: $font-size-lg;
}

.grid {
  display: grid;
  gap: 1rem;
  margin-bottom: 2rem;
}

@media (min-width: 576px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
