@import "styles/variables";
@import "styles/mixins";

.wrap {
  padding: 2rem 0;
  text-align: center;
}

.title {
  margin: 0 0 1rem;
  color: $primary;
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
}

.titleIcon {
  display: none;
  width: 190px;
}

.list {
  @include list-unstyled;
  margin: 0 -0.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  li {
    flex: 0 1 50%;
    max-width: 50%;
    padding: 0.5rem;
    text-align: center;
  }

  .image {
    display: inline-block;
    width: 100%;
    max-width: 8rem;
  }
}

.stat {
  display: inline-block;
  @include button-circle-variant($blue-300, true);
  padding: 0.5rem 1rem 0;
  margin-top: -0.5rem;
  color: $primary;
  font-size: $font-size-sm;
  font-weight: $font-weight-bold;
  line-height: 1.1;
  text-align: left;
  white-space: nowrap;

  strong {
    display: block;
    font-size: $font-size-lg;
  }
}

@media (min-width: 576px) {
  .list {
    text-align: left;

    li {
      flex: 1 1 auto;
      max-width: 100%;
    }
  }
}

@media (min-width: 768px) {
  .title {
    display: none;
  }

  .titleIcon {
    display: block;
  }
}

@media (min-width: 1200px) {
  .titleIcon {
    width: 235px;
  }
}
