@import "styles/variables";
@import "styles/mixins";

.box {
  position: relative;
  display: flex;
  width: 100%;
  min-width: 0;
  padding: 1rem;
  color: $body-color;
  background-color: $white;
  border-radius: 15px;
  border: 1px solid $gray-200;
  text-align: left;
  // box-shadow: $box-shadow-sm;
  // transition: box-shadow 0.2s ease;

  &.isCentered {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  > div {
    width: 100%;
  }
}

button.box:hover,
a.box:hover {
  text-decoration: none;
  box-shadow: $box-shadow;
}

button.box:active,
a.box:active {
  box-shadow: $box-shadow-lg;
}
