@import "styles/variables";
@import "styles/mixins";

.wrap {
  margin-top: auto;
  padding: 1rem 0;
}

.list {
  @include list-unstyled;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.link {
  padding: 0.25rem;
  color: $primary;

  svg {
    margin-right: 0.5rem;
  }
}
