@import "styles/variables";
@import "styles/mixins";

.wrap {
  padding: 0 1rem 1rem;
}

.label {
  display: block;
  margin: 0 0 1rem;
  color: $primary;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
}

.colors {
  @include list-unstyled;
  margin: 0 0 1rem;
  display: flex;
  flex-wrap: wrap;
}

.colorItem {
  flex: 0 1 4.5rem;
}

.color {
  display: block;
  width: 100%;
  text-align: center;
  font-size: $font-size-xs;
  color: $gray-700;
}

.colorSwatch {
  display: block;
  margin: 0 auto;
  width: 3rem;
  height: 3rem;
  margin-bottom: 0.5rem;
  border-radius: $border-radius;
  box-shadow: none;
  transition: box-shadow 0.15s ease-in-out;

  &[data-color="ivory"],
  &[data-color="white"] {
    border: 1px solid $border-color;
  }

  &.selected {
    box-shadow: 0 0 0 0.25rem $secondary;
  }
}

.icon {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  transition: color 0.15s ease-in-out;

  &.selected {
    color: $secondary;
  }
}

.dropdown {
  max-width: 26rem;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .wrap {
    padding: 0 2rem 2rem;
  }
}
