@import "styles/variables";
@import "styles/mixins";

.badge {
  height: 48px;
  border-radius: 48px;
  background-color: #fff;
  color: #00284c;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  text-overflow: clip;
  white-space: nowrap;
  border: 1px solid #dee2e6;
  max-width: 122px;

  // padding: 15px 20px;

  &.red {
    color: #fff;
    background-color: $red;
  }

  &.yellow {
    color: #fff;
    background-color: $yellow;
  }

  &.green {
    color: #fff;
    background-color: $green;
  }

  &.blue {
    color: #fff;
    background-color: $secondary;
  }
}
