@import "styles/variables";
@import "styles/mixins";

.wrap {
  width: 100%;
  padding: 1rem;
  @include margin-bottom(2rem);
  background-color: $white;
  border: $border-width solid $border-color;
  border-radius: $border-radius-lg;

  @media (min-width: 992px) {
    position: sticky;
    top: 8.5rem;
    margin-left: -1rem;
    width: 25vw;
    max-width: 21rem;
    border-radius: 0 $border-radius-lg $border-radius-lg 0;
  }
}
