@import "styles/variables";
@import "styles/mixins";

.wrap {
  padding: 1rem;
  margin-bottom: 1.25rem;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}

.table {
  th {
    text-align: left;
    font-weight: inherit;
  }

  td {
    text-align: right;
  }

  .total {
    font-size: 1.25rem;
    font-weight: $font-weight-semibold;
  }
}
