@import "styles/variables";
@import "styles/mixins";

.content {
  position: relative;
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: $box-shadow;
  background-color: $blue-100;
}

.ribbon {
  display: none;
  position: absolute;
  top: 0;
  right: 2rem;
}

.title {
  margin: 0 0 0.5rem;
  color: $primary;
  @include font-size(1.5rem);
  line-height: $line-height-sm;
}

.pricing {
  margin-bottom: 1.5rem;
}

@media (min-width: 576px) {
  .content {
    padding: 2rem;
  }

  .ribbon {
    display: block;
  }

  .title {
    padding-right: 6.5rem;
  }
}
