@import "styles/variables";
@import "styles/mixins";

.menu {
  @include list-unstyled;
  margin: 0;
  display: flex;
  gap: 30px;
  li {
    .link {
      padding: 10px 15px;
      font-weight: 600;
      color: $gray-900;
    }
  }
}
