@import "styles/variables";
@import "styles/mixins";

.text {
  margin: 0 0 1rem;
  font-size: $font-size-sm;
  color: $primary;
}

.table {
  font-size: $font-size-sm;
  color: $primary;

  th {
    font-weight: $font-weight-semibold;
    padding: 5px 0px;
  }

  td {
    margin: 0;
    font-size: $font-size-base;
    padding: 5px 0px;
    color: $text-muted;
  }

  .actionColumn {
    width: 0;
    white-space: nowrap;
  }
}
