@import "styles/variables";
@import "styles/mixins";

.list {
  @include list-unstyled;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;

  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}

.icon {
  display: block;
  width: 4rem;
  height: 2.5rem;
}
