@import "styles/variables";
@import "styles/mixins";

.wrap {
  margin-bottom: 1rem;
}

.carouselWrap {
  position: relative;
  z-index: 1;
  outline: none;
  overflow: hidden;
  margin-bottom: 1rem;
}

.carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
}

.slide {
  display: block;
  position: relative;
  padding-top: 87.5%;

  img {
    max-width: none;
  }
}

.slideInner {
  position: absolute;
  inset: 0;
}

.slideImage {
  height: 100%;

  > div {
    height: 100%;

    > img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
}

.thumbsWrap {
  position: relative;
  outline: none;
  overflow: hidden;
}

.thumbs {
  display: flex;
  margin-left: -0.5rem;
}

.thumb {
  position: relative;
  min-width: 33.33%;
  padding-left: 0.5rem;
}

.thumbButton {
  position: relative;
  display: block;
  width: 100%;
  height: 5rem;
  margin: 0;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
  touch-action: manipulation;
  border: 0;
  outline: 0;
  background-color: transparent;
}

@media (min-width: 576px) {
  .thumb {
    min-width: 20%;
  }
}
@media (min-width: 768px) {
  .thumb {
    min-width: 25%;
  }
}
@media (min-width: 992px) {
  .thumb {
    min-width: 20%;
  }
}
