@import "styles/variables";
@import "styles/mixins";

.wrap {
  font-size: $font-size-sm;
  color: $primary;
  background-color: $blue-100;
}

.main {
  position: relative;
  border-top: $border-width solid $border-color;
  padding: 2rem 0;

  @media (min-width: 992px) {
    padding-top: 5rem;
  }
}

.logo {
  margin: 0 0 1.5rem;
  max-width: 5.5rem;
}

.strapline {
  @media (min-width: 992px) {
    margin-bottom: 5.5rem;
  }
}

.top-link {
  @media (min-width: 576px) {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
  }
}
