@import "styles/variables";
@import "styles/mixins";

.list {
  @include list-unstyled;
  // margin: 0 0 2rem;
  display: grid;
  width: 100%;
  gap: 15px;
  // grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-template-columns: repeat(3, 1fr);
  li {
    height: 300px;
  }
  // grid-template-rows: repeat(100px);

  // @media (min-width: 992px) {
  //   gap: 2.5rem;
  // }
}
