@import "styles/variables";
@import "styles/mixins";

.title {
  display: block;
  margin: 0 0 1rem;
  color: $primary;
  font-size: 1.25rem;
  font-weight: $font-weight-semibold;
  text-align: center;

  strong {
    color: $secondary;
  }
}

.grid {
  display: grid;
  gap: 1rem;
  margin-bottom: 2rem;
}

.lead {
  margin-bottom: 1.5rem;
  color: $primary;
  text-align: center;
}

.form {
  max-width: 30rem;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .title {
    font-size: 1.75rem;
  }
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
