@import "styles/variables";
@import "styles/mixins";

.title {
  color: $secondary;
  font-weight: $font-weight-semibold;
  margin-bottom: 1rem;
  @include font-size(2rem);

  strong {
    color: $primary;
    font-weight: inherit;
  }
}

.intro {
  margin-bottom: 2rem;
  color: $primary;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  max-width: 36rem;
  margin: 0 auto;
}
