@import "styles/variables";
@import "styles/mixins";

.carouselWrap {
  position: relative;
  outline: none;
  overflow: hidden;
}

.carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  grid-column-gap: 0.75rem;
  padding: 1rem 0;
}

.slide {
  position: relative;
}

@media (min-width: 400px) {
  .carousel {
    grid-auto-columns: 50%;
  }
}

@media (min-width: 768px) {
  .carousel {
    grid-auto-columns: 33.33%;
  }
}
