@import "styles/variables";
@import "styles/mixins";

.wrap {
  padding: 1rem 0;
  background-color: $white;
  border-top: $border-width solid $border-color;
  text-align: center;
}

.title {
  margin: 0 0 1rem;
  color: $gray-700;
  font-size: $font-size-sm;
}

.badge {
  display: inline-block;
  margin: 0 0 1rem;
  max-width: 11rem;

  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}
