@import "styles/variables";
@import "styles/mixins";

.wrap {
  padding: 1rem 0;
  border: 1px solid $border-color;
  border-style: solid none;
}

.title {
  color: $primary;
  @include font-size(1.25rem);
}
