@import "styles/variables";

.wrap {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  width: 25rem;
  max-width: 100%;
  display: block;
  background-color: $white;
  background-clip: padding-box;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  outline: 0;
  overflow: auto;

  &.right {
    left: auto;
    right: 0;
  }
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: $black;
}
