@import "styles/variables";
@import "styles/mixins";

.list {
  @include list-unstyled;
  margin: 0;
}

.listItem {
  display: block;
}

.link {
  display: block;
  padding: 0.5rem;
  margin: 0 -0.5rem;
  font-size: $font-size-base;
  color: $gray-900;
  border-radius: $border-radius;
  @include transition($btn-transition);

  &:focus {
    outline: 0;
    box-shadow: $btn-focus-box-shadow;
  }

  &.hasChildren {
    position: relative;
    font-size: 1.375rem;
    font-weight: $font-weight-semibold;
  }
}

a.link:hover {
  text-decoration: underline;
}

.icon {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  width: 1.875rem;
  height: 1.875rem;
  line-height: 1.875rem;
  text-align: center;
  transform: translateY(-50%);
  font-size: $font-size-base;
  background-color: $blue-300;
  border-radius: 50%;
}
