@import "styles/variables";
@import "styles/mixins";

.list {
  @include list-unstyled;
  display: flex;
  gap: 15px;
  // margin-bottom: 1rem;
  margin-bottom: 10px;
  min-height: 21px;
  font-size: 12px;
}

.sku {
  color: $primary;
  font-weight: 600;
}

.stock {
  font-weight: $font-weight-bold;

  &.inStock {
    color: $green;
  }

  &.outOfStock {
    color: $red;
  }
}
