@import "styles/variables";
@import "styles/mixins";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $gray-100;
  color: $black;
  min-width: 32px;
  height: 32px;
  border-radius: 32px;
  font-weight: 200;
  font-size: 16px;
  // &.primary {
  //   background-color: $primary;
  //   color: $white;
  // }
  &.white {
    background-color: $white;
    color: $secondary;
  }
  &.secondary {
    background-color: $secondary;
    color: $white;
  }
}
