@import "styles/variables";
@import "styles/mixins";

.wrap {
  margin-bottom: 1rem;
}

.list {
  @include list-unstyled;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  border: 1px solid $gray-300;
  border-radius: 30px;
  background-color: $white;
}

.listItem {
  width: 100%;
  flex: 0 1 auto;
  position: relative;

  &:first-child {
    a {
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
    }

    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;

    a {
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
    }
  }
}

.listItemSupport {
  padding: 0px 25px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: 1px solid $gray-300;

  a {
    display: flex;
    align-items: center;
    font-weight: 100;
  }

  .icon {
    margin-right: 10px
  }
}

.line {
  flex: 1 1 auto;
  height: 1px;
  width: 100%;
  background-color: $primary;
}

.link {
  display: block;
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: 14px;
  font-weight: $font-weight-semibold;
  text-align: center;
  transition: $transition-base;
  color: $gray-600;

  &:focus {
    outline: 0;
    border-top-right-radius: 30px;
  }

  &:disabled {
    color: inherit;
    pointer-events: none;
  }

  &.active {
    color: $white;
    background-color: $secondary;
  }

  &.current {
    border-top-right-radius: 40px;
  }
}