@import "styles/variables";
@import "styles/mixins";

.wrap {
  position: relative;
  z-index: 2;
  margin-top: -3rem;
}

.tile {
  position: relative;
  display: block;
  margin: 0 0 1rem;
  padding: 1.5rem;
  background: center center no-repeat;
  background-size: cover;
  border: 1px solid $white;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  text-align: left;

  &[data-color="primary"] {
    background-color: $blue-100;
  }

  &[data-color="secondary"] {
    background-color: $orange-100;
  }

  .icon {
    z-index: 0;
  }

  .content {
    position: relative;
    z-index: 1;
  }

  .subtitle {
    margin: 0;
    padding: 0;
    font-size: $font-size-sm;
    font-weight: $font-weight-normal;
  }

  .title {
    color: $gray-900;
    font-size: 1.375rem;
    font-weight: 600;
  }

  p {
    min-height: 42px;
    max-width: 66%;
    opacity: 0;
    // background-color: red;
    font-size: $font-size-sm;
  }

  .button {
    transition: none;
  }

  &:hover,
  &:focus {
    outline: 0;
    text-decoration: none;
    color: $white;
    background-image: none !important;

    .title {
      color: inherit;
    }

    p {
      opacity: 1;
    }
  }
}

// Colour Variants
.tile[data-color="primary"] {
  background-color: $blue-100;

  &:hover,
  &:focus {
    background-color: $primary;

    .button {
      color: $white;

      &:hover {
        transition: color 0.2s ease;
        color: $primary;
      }
    }
  }
}

.tile[data-color="secondary"] {
  background-color: $orange-100;

  &:hover,
  &:focus {
    background-color: $secondary;

    .image {
      opacity: 0;
    }
  }
}
