@import "styles/variables";
@import "styles/mixins";

.list {
  @include list-unstyled;
  margin-bottom: 0;

  > li {
    padding: 0.5rem 0;

    &:not(:last-child) {
      border-bottom: 1px solid $border-color;
    }
  }
}
