@import "styles/variables";
@import "styles/mixins";

.wrap {
  padding: 1rem;
  width: 100%;
}

.body {
  flex-grow: 1;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .wrap {
    display: flex;
    flex-direction: column;
  }

  .body {
    max-width: 60rem;
  }

  .footer {
    margin-top: auto;
  }
}
